build
*__pycache__*
*.xml
*egg-info*
.env

t1s.txt
data/BIDS/Geneva-Study/
recon_sample.sh
parcellate_chimera.sh

data/*.py
data/BIDS/Dummy-Project/sub-P001/
data/BIDS/Dummy-Project/derivatives/mialabased-thalamicparc/
data/BIDS/Dummy-Project/derivatives/ants-spattransf/
data/BIDS/Dummy-Project/derivatives/sub-S001
data/BIDS/Dummy-Project/derivatives/freesurfer
data/BIDS/Dummy-Project/derivatives/connectivity
data/BIDS/Dummy-Project/derivatives/transforms

data/BIDS/Dummy-Project/derivatives/mrsi/space-origfilt
data/BIDS/Dummy-Project/derivatives/mrsi/space-t1w
data/BIDS/Dummy-Project/derivatives/mrsi/space-mni

*-metabnorm*
*-origfilt*
# *T1w.json
# *T1w.nii.gz

results/

data/rename_dummy.py
data/atlas/aal_SPM12
data/atlas/allen_brain
data/atlas/allen_human_reference_atlas_3d_2020
data/atlas/destrieux_2009
data/atlas/economoMNI152volume
data/atlas/icbm152_2009
data/atlas/jhu_icbm_wm
data/atlas/julich_brain_cytoarchitecture
data/atlas/mist197
data/atlas/vonEcon_500

filters/neuralnet/deepdenoiser.py
filters/neuralnet/deepsmoother.py

filters/neuralnet/models/autoencoder_all.h5
filters/neuralnet/models/autoencoder_Glu+Gln.h5
filters/neuralnet/models/autoencoder_Cr+PCr.h5
filters/neuralnet/models/autoencoder.h5


data/BIDS/Dummy-Project/derivatives/chimera-atlases/sub-S001/ses-V1/anat/sub-S001_ses-V1_run-01_acq-memprage_space-mni_atlas-LFMIHIFIF-3-cer_dseg.nii.gz
data/BIDS/Dummy-Project/derivatives/chimera-atlases/sub-S001/ses-V1/anat/sub-S001_ses-V1_run-01_acq-memprage_space-mni_atlas-LFMIHIFIF-3-cer_dseg.tsv
data/BIDS/Dummy-Project/derivatives/chimera-atlases/sub-S001/ses-V1/anat/sub-S001_ses-V1_run-01_acq-memprage_space-orig_atlas-LFMIHIFIF-3-cer_dseg.nii.gz
data/BIDS/Dummy-Project/derivatives/chimera-atlases/sub-S001/ses-V1/anat/sub-S001_ses-V1_run-01_acq-memprage_space-orig_atlas-LFMIHIFIF-3-cer_dseg.tsv
data/BIDS/Dummy-Project/derivatives/chimera-atlases/sub-S001/ses-V1/anat/sub-S001_ses-V1_run-01_acq-memprage_space-spectroscopy_atlas-LFMIHIFIF-3-cer_dseg.nii.gz
data/BIDS/Dummy-Project/derivatives/chimera-atlases/sub-S001/ses-V1/anat/sub-S001_ses-V1_run-01_acq-memprage_space-spectroscopy_atlas-LFMIHIFIF-3-cer_dseg.tsv
data/BIDS/Dummy-Project/sub-S001/ses-V1/spectroscopy/sub-S001_ses-V1_space-origfilt_acq-conc_desc-CrPCr_spectroscopy.nii.gz.nii.gz
data/BIDS/Dummy-Project/sub-S001/ses-V1/spectroscopy/sub-S001_ses-V1_space-origfilt_acq-conc_desc-GluGln_spectroscopy.nii.gz.nii.gz
data/BIDS/Dummy-Project/sub-S001/ses-V1/spectroscopy/sub-S001_ses-V1_space-origfilt_acq-conc_desc-GPCPCh_spectroscopy.nii.gz.nii.gz
data/BIDS/Dummy-Project/sub-S001/ses-V1/spectroscopy/sub-S001_ses-V1_space-origfilt_acq-conc_desc-Ins_spectroscopy.nii.gz.nii.gz
data/BIDS/Dummy-Project/sub-S001/ses-V1/spectroscopy/sub-S001_ses-V1_space-origfilt_acq-conc_desc-NAANAAG_spectroscopy.nii.gz.nii.gz

# Ignore results
data/BIDS/Geneva-Study/derivatives/group/metabolic-similarity-map/metabolic-similarity-map_space-mni_atlas-LFMIHIFIF-3_proj-pca-tsne_mrsi.nii.gz
data/BIDS/Dummy-Project/derivatives/msi/
data/BIDS/Geneva_Study/derivatives/msi/
data/BIDS/Dummy-Project/derivatives/chimera-atlases/sub-S001/ses-V1/anat/sub-S001_ses-V1_run-01_acq-memprage_space-mrsi_atlas-LFMIHIFIF-3-cer_dseg.nii.gz
data/BIDS/Dummy-Project/derivatives/chimera-atlases/sub-S001/ses-V1/anat/sub-S001_ses-V1_run-01_acq-memprage_space-mrsi_atlas-LFMIHIFIF-3-cer_dseg.tsv

scripts/integrate_cerebellum_parcellation.py
data/BIDS/Dummy-Project/derivatives/chimera-atlases/sub-S001/ses-V1/anat/sub-S001_ses-V1_run-01_acq-memprage_space-mni_atlas-chimeraLFMIHIFIS_desc-scale3grow2mm_dseg.nii.gz
data/BIDS/Dummy-Project/derivatives/chimera-atlases/sub-S001/ses-V1/anat/sub-S001_ses-V1_run-01_acq-memprage_space-mni_atlas-chimeraLFMIHIFIS_desc-scale3grow2mm_dseg.tsv
data/BIDS/Dummy-Project/derivatives/chimera-atlases/sub-S001/ses-V1/anat/sub-S001_ses-V1_run-01_acq-memprage_space-mrsi_atlas-chimeraLFMIHIFIS_desc-scale3grow2mm_dseg.nii.gz
data/BIDS/Dummy-Project/derivatives/chimera-atlases/sub-S001/ses-V1/anat/sub-S001_ses-V1_run-01_acq-memprage_space-mrsi_atlas-chimeraLFMIHIFIS_desc-scale3grow2mm_dseg.tsv
