build
*__pycache__*
*.xml

.env

data/BIDS/Dummy-Project/derivatives/freesurfer

data/rename_dummy.py
data/atlas/aal_SPM12
data/atlas/allen_brain
data/atlas/allen_human_reference_atlas_3d_2020
data/atlas/destrieux_2009
data/atlas/economoMNI152volume
data/atlas/icbm152_2009
data/atlas/jhu_icbm_wm
data/atlas/julich_brain_cytoarchitecture
data/atlas/mist197
data/atlas/vonEcon_500

filters/neuralnet/deepdenoiser.py
filters/neuralnet/deepsmoother.py

*egg-info*
filters/neuralnet/models/autoencoder_all.h5
filters/neuralnet/models/autoencoder_Glu+Gln.h5
filters/neuralnet/models/autoencoder_Cr+PCr.h5
filters/neuralnet/models/autoencoder.h5
